* {
  font-family: arial, sans-serif;
  list-style: none;
}

h2 {
  text-align: left;
  color: black;
  /*font-style: italic;*/
  width: 100%;
  margin: 0;
  padding: 20px;
}

h3 {
  text-align: left;
  color: black;
  font-style: italic;
  width: 100%;
  margin: 0;
  padding: 20px;
}

.book-title {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  vertical-align: middle;
  font-size: 24pt;
}

.content p {
  padding-left: 20px;
  padding-right: 20px;
}

.book-covers-list img {
  /*height: 200px;*/
  border: 2px black solid;
}

.book-covers-list img:hover {
  opacity: .5;
}

header.website-title {
  /*padding-left: 20px;*/
  font-size: 36px;
  color: white;
  width: 60%;
  display: inline-block;
  height: 150px;
  margin: 0;
  vertical-align: bottom;

}

header.website-title h1 {
  /*padding-top: 20px;*/
  text-align: center;
}

nav {
  background-color: red;
  display: inline-block;
  padding: 0;
  margin: 0;
  float: right;
  width: 40%;
  height: 150px;
  vertical-align: bottom;
}

nav ul {
  padding-top: 80px;
  padding-left: 25%;
  text-align: center;
  font-size: 1.2em;

}

footer {
  background-color: grey;
}

.book-title {
  text-align: center;
  margin-bottom: 20px;
}
section.book-description {
  /*display: inline-block;*/
  clear: both;
  float: right;
}
aside.book-quote {
  display: inline-block;
  float: right;
  width: 18%;
  font-size: 18px;
  padding: 20;
  margin: 10;
  font-style: italic;
}

aside.review-quote {
  display: inline-block;
  float: left;
  width: 18%;
  font-size: 18px;
  padding: 20;
  margin: 10;
  font-style: italic;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
    float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

a:visited {
  color: none;
}

.book-cover-small {
  height: 300px;
  float: left;
  padding-right: 20px;
}

#chipmunk {
  height: 75px;
  margin: 10px;
}

article.review-data:hover {
  background-color: lightgrey;
}


.review-data p {
  padding-bottom: 10px;
}
.book-covers-list {
  display: block;
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
  /*width: 100%;*/
}

.review-title {
  text-align: left;
  font-style: italic;
  padding-left: 0;
}

body > header {
  background-color: red;
}
.reviews h2 {
  color: red;
  font-style: bold;
}
