* {
  font-family: arial, sans-serif;
  list-style: none;
}

body > header {
  background-color: red;
}

.book-title {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  vertical-align: middle;
  font-size: 24pt;
}
h2 {
  text-align: left;
  color: black;
  font-style: italic;
  width: 100%;
  margin: 0;
  padding: 20px;
}

h3 {
  text-align: left;
  color: black;
  font-style: italic;
  width: 100%;
  margin: 0;
  padding: 20px;
}

.content p, img {
  padding-left: 20px;
  padding-right: 20px;
}

.content < img {
  height: 200px;
  display: inline-block;
}


nav {
  background-color: gray;
  display: block;
  padding: 0;
  margin: 0;
}

footer {
  background-color: grey;
}

header.website-title {
  padding: 20px;
  font-size: 36px;
  color: white;
}

.book-title {
  text-align: center;
  margin-bottom: 20px;
}
section.book-description {
  /*display: inline-block;*/
  clear: both;
  float: right;
}
aside.book-quote {
  display: inline-block;
  float: right;
  width: 18%;
  font-size: 18px;
  padding: 20;
  margin: 10;
  font-style: italic;
}

aside.review-quote {
  display: inline-block;
  float: left;
  width: 18%;
  font-size: 18px;
  padding: 20;
  margin: 10;
  font-style: italic;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
    float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  color: blue;
}


.book-cover-small {
  height: 300px;
  float: left;
  padding-right: 20px;
}

#chipmunk {
  height: 75px;
}

article.review-data:hover {
  background-color: lightgrey;
}


.review-data p {
  padding-bottom: 10px;
}
.book-covers-list {
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.review-title {
  text-align: left;
  font-style: italic;
  padding-left: 0;
}
